<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<img src="./images/me.jpg" rel="image">
<button class="btn btn-primary">Button</button>
<picture>
    <img src="./images/me.jpg" alt="problem !!!" srcset="./images/me.jpg">
    <img src="./images/image1.fits" alt="problem !!!" srcset="./images/image1.fits">
    <img src="./images/055.png" alt="problem !!!" srcset="./images/055.png">
    <img src="./images/th.jfif" alt="problem !!!" srcset="./images/th.jfif">
</picture>
</body>
</html>